*.pyc
__pycache__/
.tox/
env/
build/
dist/
eggs/
.eggs/
*.egg
*.egg-info/
/test.py
/.vscode/settings.json
/.coverage
/whoosh-reloaded.code-workspace
/.vscode/launch.json
*.coverage.DESKTOP-*
/coverage.xml
/lcov.info
/.codiumai.local.toml
